div.con{
	background-image:url('images/index.jpg');
	min-height: 950px;
	background-repeat: no-repeat;
}
div{
	outline: 2px solid darkmagenta;
}
div.content div.slideshow{
	min-height: 	530px;
}
div.content div.box{
	margin-top: -100px;
	z-index: 2;
}
div.boxes1{
}
