/*--------------languege-------------------*/
div.lan div{
	background-color: gray;
	opacity         : .9;
	border          : 1px solid white;
	border-radius   : 25px;
	margin-left     : 3px;
}
div.lan div a{
	color          : white;
	display        : block;
	padding        : 7px 5px 3px;
	font-size      : 14px;
	letter-spacing : -1px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;

}
div.lan div :hover{
	color          : black;
}
/*--------------font-------------------*/
@font-face {
	font-family: 'Nazanin';
	src        : url('../fonts/BNazanin.eot');
	src        : url('../fonts/BNazanin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BNazanin.woff') format('woff'),
	url('../fonts/BNazanin.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}
@font-face{
	font-family: 'davat';
	src        : url('../fonts/BDavat.eot');
	src        : url('../fonts/BDavat.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BDavat.woff') format('woff'),
	url('../fonts/BDavat.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}
body{
	font-family           : 'Nazanin', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-image      : url('../images/1.png');
}
/*--------------logo-------------------*/
header div.logo{
	background-image : url('../images/logo.png');
	background-repeat: no-repeat;
	width            : 158px;
	height           : 80px;
}
/*--------------menu-------------------*/
header div.upmenu nav menu{
	margin-top: 10px;
	z-index: 5;
}
header div.upmenu nav menu li{
	float             : right;
	position          : relative;
	margin-right      : 5px;
	-webkit-transition: all 300ms;
	-moz-transition   : top 200ms;
	-ms-transition    : top 200ms;
	-o-transition     : top 200ms;
	transition        : top 200ms;
	z-index: 5;

}
nav.top li:first-child {
	margin-left : none;
}
nav li:hover {
	text-shadow: 1px 0px 1px #78c8dc;
}
header nav a {
	color          : white;
	display        : block;
	padding        : 5px 7px 5px;
	font-size      : 20px;
	letter-spacing : -1px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
	-webkit-transition: all 150ms;
	-moz-transition   : top 150ms;
	-ms-transition    : top 150ms;
	-o-transition     : top 150ms;
}
header nav a:hover{
	color             : gray;
	text-shadow: 1px 0px 1px darkcyan;
}

header div.upmenu nav menu li:hover div.menuline{
	background-color: #5F9FCB;
	opacity         : 0.7;
	border          : 0px;
}
nav li menu {
	min-width: 100%;
	position : absolute;
	right    : 0;
	top      : 60%;
	display  : none;
	z-index  : +2;
}
nav li:hover menu{
	display   : block;
}
nav li li{
	float     : none;
	background: #5F9FCB;
	border    : none;
	border-top: 1px dashed white;
	min-width : 100px;
	min-height: 30px;
	opacity   : 0.8;
}
/*--------------ax-------------------*/
menu.flt{
	background-repeat: no-repeat;

}
menu.flt li :hover{
	background-image  : url('../images/borde-hover.png');
	background-repeat : no-repeat;
}
menu.flt li{
	float: left;
}

/*--------------lightbox-------------------*/
div.gallery h2 {
	color          : #77abba;
	font-size      : 32px;
	letter-spacing : px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
	text-align     : center;
	font-family    : 'davat', Arial, sans-serif;
	margin-right   : 80px;
}
div.gallery hr {
	margin-left: -95px;
}


div.gallery li {
	float             : left;
	margin-right      : 15px;
	margin-top        : 10px;
	-webkit-transition: all 800ms;
	-moz-transition   : all 800ms;
	-ms-transition    : all 800ms;
	-o-transition     : all 800ms;
	transition        : all 800ms;
}
div.gallery li:hover{
	-webkit-transform: scale(0.95);
}

div.gallery li a {
	display: block;

}
div.gallery li a:hover {
	-webkit-transform: scale(1);

}

div.gallery li h3,p {
	color          : #77abba;
	letter-spacing : px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
	text-align     : right;
	font-family    : 'davat', Arial, sans-serif;
	margin-right   : 15px;
}
div.gallery li p{
	color          : #77abba;
	font-size      : 15px;
	letter-spacing : px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
	text-align     : right;
	font-family    : 'davat', Arial, sans-serif;
	margin-right   : 15px;
}

/*--------------copyright -------------------*/

footer div.copyright h3{
	color          : gray;
	font-size      : 18px;
	letter-spacing : px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
	text-align     : center;
	font-family    : 'davat', Arial, sans-serif;
}